header{
  height: 50px;
  position: relative;
  background-color: black;
  color: white;
}
.bar-positioner{
  margin: 0 15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
}
.logo{
  width: auto;
  height: 30px;
}
nav{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
  left: 10%;
  width: 90%

}
#horizontal-list{
  display: block;
}
ul{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}